<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @url.url %>
</p>

<p>
  <strong>Unique key:</strong>
  <%= @url.unique_key %>
</p>

<p>
  <strong>Hits:</strong>
  <%= @url.hits %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
